body{
    background-image: url(https://media.istockphoto.com/id/1373210791/photo/rearview-of-parked-cars.jpg?s=612x612&w=0&k=20&c=RtaYQ7REicSGjsT9Wxg_wEwZQD1yQu6OJ-5HznqBskU=);
    background-repeat: no-repeat;
    background-size: 100%;
}
h1{
    color: rgb(251, 251, 251);
}
h3{
    text-align: center;
    color:rgb(0, 255, 234);
    
}
.hatch{
    height:350px;
    width:350px;
    border-radius: 50%;
    border: 2px solid black;
}
.sedans{
    height:350px;
    width:350px;
    border-radius: 50%;
    border: 2px solid black;
}
.suv{
    height:350px;
    width:350px;
    border-radius: 50%;
    border: 2px solid black;
}
.main{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
.hatch:hover  {
    opacity: 1;
    height: 400px;
    width: 400px;
}
.sedans:hover {
    opacity: 1;
    height: 400px;
    width: 400px;

}
.suv:hover{
    opacity: 1;
    height: 400px;
    width: 400px;

}